.cookies-banner {
  margin-left: 10%;
  background: #444;
  color: #fff;
  padding: 6px;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  bottom: 50%;
  width: 80%;
  z-index: 9999;
  /* move from the outside of the screen to the bottom of the page */
  animation: rubberBand 2s infinite;
}

.cookies-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 40px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-banner button:hover {
  background: #fff;
  color: #222;
}

/* Create a class named "warning rectangle", which has a red background and an animation that goes to red to white and viceversa */
.warning-rectangle {
  background-color: red;
  text-align: center;
  padding: 2em;
  animation: warning 1s infinite;
}

/* Create the animation */
@keyframes warning {
  0% {
    background-color: red;
  }

  50% {
    background-color: white;
  }

  100% {
    background-color: red;
  }
}

.wrapper {
  padding: 32px;
}

.cookie-footer {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-footer.active {
  bottom: 0;
}

.cookie-footer a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* SWup PART */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}